body{
    background-color: #556677;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
}
.accordion-container{
    position: relative;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
}
.accordion-container > h2{
    text-align: center;
    color: #ffffff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
}
.set{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}
.set > a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555555;
    font-weight: 600;
    border-bottom: 1px solid #dddddd;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.set > a i{
    float: right;
    margin-top: 2px;
}
.set > a.active{
    background-color:#3399cc;
    color: #ffffff;
}

.content{
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    display:none;
}
.content li{
    padding: 10px 15px;
    margin: 0;
    color: #333333;
}
