{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style7.css' %}">
        <script src="{% static 'js/scripts.js' %}"></script>

        <title>haloo</title>
    </head>

    <body>
        <nav class="navbar navbar-light sticky-top" style="background-color: #f5f5f5 ;">
            <span class="navbar-brand mb-0 h1">aktivitas.Ku</span>
            <button id="theme" class="btn btn-light waves-effect waves-h4ght my-2 my-sm-0" type="button" style="background-color: #556677; color: white;">
                Ubah Tema
            </button>
        </nav>
        
        <div class="col md-12">
            <div class="container justify-content-center">
                <div class="accordion-container">
                    <h2>hai :D</h2>
                    <div class="set">
                        <a href="#">
                            Aktivitas
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="content">
                            <ul>
                                <li>kuliah</li>
                                <li>jalan-jalan</li>
                                <li>baca webtoon</li>
                            </ul>
                        </div>
                    </div>
                    <div class="set">
                        <a href="#">
                            Pendidikan 
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="content">
                            <ul>
                                <li>Fasilkom UI - <strong>(2018-sekarang)</strong></li>
                                <li>SMAN 1 Kendari - <strong>(2015-2018)</strong></li>
                                <li>SMPN 1 Kendari - <strong>(2012-2015)</strong></li>
                                <li>SDN 07 Kendari Barat - <strong>(2006-2012)</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="set">
                        <a href="#">
                            Pengalaman 
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="content">
                            <ul>
                                <li><strong>FUKI Fasilkom(2019-sekarang)</strong><br>Staf Departemen Sosial Masyarakat</li>
                                <li><strong>DPM Fasilkom (2019-sekarang)</strong><br>Staf Divisi Kestari</li>
                                <li><strong>Gapura UI (2018-sekarang)</strong><br>Kepala Divisi Humas Publikasi dan Desain</li>
                                <li><strong>SMAN 1 Kendari (2017-2018)</strong><br>Sekretaris Kelompok Ilmiah Remaja</li>
                            </ul>
                        </div>
                    </div>
                    <div class="set">
                        <a href="#">
                            Prestasi 
                            <i class="fa fa-plus"></i> 
                        </a>
                        <div class="content">
                            <ul class="inside">
                                <li>MASUK FASILKOM UI - <strong>2018</strong></li>
                                <li>ikut FLS2N di Kupang :D - <strong>2017</strong></li>
                                <li>Duta Sanitasi Sultra - <strong>2014</strong></li>
                                <li>ikut LCSPN di Cipanas, Bogor :) - <strong>2014</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>